*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
/* start nav section */
.nav-home{
    background-color: #D23166;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-home img{
    width: 80px;
}
.nav-home .nav-content a{
    font-size: 25px;
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
}
.nav-home .nav-content a:hover{
    color: #134B70;
}
.nav-home button{
    color: #D23166;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 20px;
}
.nav-home button:hover{
    color: #134B70;
}
/* end nav section */
/* start header section */
.header-home{
    background-color: #134B70;
    padding-top: 20px;
    padding-bottom: 20px;

}
.header-home .header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-home .header-content h1{
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;    
}
.header-home .header-content h1 span{
    color: #D23166;
}
.header-home .header-content p{
    color: #ffffffa9;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.header-home button{
    color: #fff;
    background-color: #D23166;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 25px;
    margin-top: 20px;
}
.header-home button:hover{
    color: #134B70;
}
.header-home img{
    width: 30%;
}
/* end header section */
/* start product section */
.product-home h2{
    color: #D23166;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 40px;
    letter-spacing: 2px;
}
.product-home hr{
    background-color: #536493;
    height: 3px;
    margin: auto;
    width: 200px;
}
.product-home hr:nth-last-of-type(2){
    width: 150px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.product-home hr:nth-of-type(3){
    width: 100px;
}
.product-home .product-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.product-home .product-content .item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-home .product-content img{
    width: 30%;
}
.product-home .product-content .img-content{
    width: 60%;
}
.product-home .product-content h3{
    color: #134B70;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.product-home .product-content p{
    font-size: 20px;
    line-height: 1.5;
    width: 600px;
    color: #536493;
    margin-bottom: 10px;
}
.product-home .product-content span{
    color: #D23166;
    font-size: 30px;
    margin-bottom: 10px;
}
.product-home .product-content button{
    color: #fff;
    background-color: #D23166;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 25px;
    margin-top: 20px;
    margin-left:400px;
}
.product-home .product-content button:hover{
    background-color: #134B70;
}
/* end product section */
/*  start ice-home section */
.ice-home{
    background-color: #D23166;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ice-home .ice-content{
    width: 40%;
    background-color: #FBF0F4;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ice-home .ice-content img{
    width: 30%;
    float: right;
}
.ice-home .ice-content .ice-title{
    float: left;
}
.ice-home .ice-content h2{
    font-size: 35px;
    margin-bottom: 5px;
    color: #134B70;
}
.ice-home .ice-content p{
    font-size: 15px;
    width: 400px;
    color: #536493;
}
/* end ice-home section */
/* start contact-us section */
.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.contact-us h2{
    color: #D23166;
    font-size: 40px;
    margin-bottom: 20px;
}
.contact-us .input-contact{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #134B70;
    padding: 20px 20px;
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 20px;
}
.contact-us .input-contact label{
    font-size: 20px;
    color: #fff;

}
.contact-us .input-contact input{
    width: 97%;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
}
.contact-us .input-contact textarea{
    width: 97%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
.contact-us .input-contact button{
    color: #fff;
    background-color: #D23166;
    border: none;
    padding: 5px;
    border-radius: 3px;
    font-size: 25px;
    margin-top: 20px;
}
.contact-us .input-contact button:hover{
    color: #134B70;
}
/* end contact-us section */
/* start follow-us section */
.follow-us{
    background-color: #134B70;
    padding: 20px;
}
.follow-us p{
    text-align: center;
    color: #fff;
    font-size: 20px;
}
/* end follow-us section */
